<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <% if(is_logined==false){ %>
        <table width="30%">
            <td><a href="/">홈으로</a></td>
            <td><a href="/login">로그인</a></td>
            <td><a href="/register">회원가입</a></td>
            <td><a href="/market">게시판</a></td>
            <td><a href="/board">물품 게시판</a></td>
        </table>

        <% }else{ %>
            <table width="30%">
                <tr>
                    <td><a href="/">홈으로</a></td>
                    <td><a href="/update">정보</a></td>
                    
                    <td>
                        <%= name %> 님 환영합니다!
                    </td>
                    <td><a href="/market">게시판</a></td>
                    <td><a href="/board">물품 게시판</a></td>
                    <td><a href="/logout">logout</a></td>
                </tr>
            </table>
            <% } %>
                <div>
                    <h1>프리 마켓.</h1>
                </div>
</body>
</html>